.cards {
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 17px;
  justify-content: center;
  grid-template-rows: auto;
  margin:50px auto 0;
  padding:0;
  list-style-type: none;
  width: 100%;
 
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 282px;
  border-radius: 10px;
  list-style-type: none;
  background-color: var(--primary-color);
 
}
.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__title {
  color: #000000;
  padding-left: 16px;
  font-family: "Inter", monospace;
  font-size: 22px;
}

.card__footer {
  background-color: white;
  display: flex;
  border-radius: 0 0 10px 10px;
}

.card__trash {
  position: absolute;
  top: 300px;
  right: 20px;
  height: 20px;
  width: 20px;
  background-color: #f0efef;
  border: none;
}
.card__heart {
  position: absolute;

  bottom: 24px;
  right: 17px;
  width: 25px;
  height: 22px;
  color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
}


.card__heart_active {
  filter: invert(34%) sepia(90%) saturate(430%) hue-rotate(326deg) brightness(103%) contrast(101%);
  cursor: pointer;
}

/*.card__delete-button {
    width: 20px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 10px;

  border: none;




}*/
.card__trash-icon{
   width: 18px;
  height: 19.3px;
  position: absolute;
  top: 4px;
  right: 6px;
  color:  #FFFFFF;


}
.card__image-container {
  margin: 0;
   width: 100%;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
}


