.header {
  max-width: 880px;
  width: 100%;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .header {
    font-size: 72px;
    line-height: 76px;
  }
}
